<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>Cadastrar Lojas</span></li>
				</ul>
				<a class="btn btn-primary btn-md" th:href="@{/lojas/listar}"
					role="button"> <span class="oi oi-spreadsheet" title="Listar"
					aria-hidden="true"></span> <span>Listar Lojas</span>
				</a>
			</div>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="~{fragments/alert}"></div>

			<form
				th:action="${loja.id == null} ? @{/lojas/salvar} : @{/lojas/editar}"
				th:object="${loja}" method="POST">
				
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="nome">Nome</label> 
						<input type="text" class="form-control" id="nome" placeholder="Nome"
							autofocus="autofocus" th:field="*{nome}"
							th:classappend="${#fields.hasErrors('nome')} ? is-invalid" />

						<div class="invalid-feedback">
							<span th:errors="*{nome}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label for="categoria">Categoria</label> 
						<input type="text" class="form-control" id="categoria" placeholder="Categoria"
							autofocus="autofocus" th:field="*{categoria}"
							th:classappend="${#fields.hasErrors('categoria')} ? is-invalid" />

						<div class="invalid-feedback">
							<span th:errors="*{categoria}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label for="endereco">Endereço</label> 
						<input type="text" class="form-control" id="endereco" placeholder="Endereço"
							autofocus="autofocus" th:field="*{endereco}"
							th:classappend="${#fields.hasErrors('endereco')} ? is-invalid" />

						<div class="invalid-feedback">
							<span th:errors="*{endereco}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label for="cidade">Cidade</label>
						<input type="text" class="form-control" id="cidade" placeholder="Cidade" 
							   autofocus="autofocus" th:field="*{cidade}" 
							   th:classappend="${#fields.hasErrors('cidade')} ? is-invalid" />
					
						<div class="invalid-feedback">
							<span th:errors="*{cidade}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label for="CNPJ">CNPJ</label> 
						<input type="text" class="form-control" id="CNPJ" placeholder="__.___.___/____-__"
							th:readonly="${loja.id != null}"
							autofocus="autofocus" th:field="*{CNPJ}"
							th:classappend="${#fields.hasErrors('CNPJ')} ? is-invalid" 
							data-mask="00.000.000/0000-00" data-mask-reverse="true" />
						                               
						<div class="invalid-feedback">
							<span th:errors="*{CNPJ}"></span>
						</div>
					</div>
				</div>

				<input type="hidden" id="id" th:field="*{id}" />
				<button type="submit" class="btn btn-primary btn-sm">Salvar</button>
			</form>
		</div>
	</section>
</body>
</html>



