<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tabela</title>
        <style>
        table, th, td {
            border: 1px solid;
            text-align: center;
        }
        </style>
    </head>
    <body>
       <table>
            <tr>
                <th>Celsius</th>
                <th>Fahrenheit</th>
                <th>Kelvin</th>
            </tr>
            <tr th:each="value, iterStat : ${celsius}">
                <td th:text=${value}></td>
                <td th:text=${fahr[iterStat.index]}></td>
                <td th:text=${kelvin[iterStat.index]}></td>
            </tr>
       </table>
</body>
</html>

