<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>Cadastrar Itens</span></li>
				</ul>
			</div>
			<a class="btn btn-primary btn-md" th:href="@{/itens/listar}"
				role="button"> <span class="oi oi-spreadsheet" title="Cadastro"
				aria-hidden="true"></span> <span>Listar Itens</span>
			</a>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="~{fragments/alert}"></div>

			<form
				th:action="${item.id == null} ? @{/itens/salvar} : @{/itens/editar}"
				th:object="${item}" method="POST">

				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="titulo">Título</label> 
						<input type="text" class="form-control" id="titulo" placeholder="Título"
							autofocus="autofocus" th:field="*{titulo}"
							th:classappend="${#fields.hasErrors('titulo')} ? is-invalid" />
						
						<div class="invalid-feedback">
							<span th:errors="*{titulo}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label for="descricao">Descrição</label> 
						<input type="text" class="form-control" id="descricao" placeholder="Descrição"
							autofocus="autofocus" th:field="*{descricao}"
							th:classappend="${#fields.hasErrors('descricao')} ? is-invalid" />

						<div class="invalid-feedback">
							<span th:errors="*{descricao}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label for="loja">Loja</label> 
						<select id="loja" class="form-control" th:field="*{loja}"
							th:classappend="${#fields.hasErrors('loja')} ? is-invalid">
							<option value="">Selecione</option>
							<option th:each="loja : ${lojas}" th:value="${loja.id}"
								th:text="${loja.nome}"></option>
						</select>

						<div class="invalid-feedback">
							<span th:errors="*{loja}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label for="ano">Ano</label> 
						<input type="number" class="form-control" id="ano" placeholder="Ano"
							autofocus="autofocus" th:field="*{ano}"
							th:classappend="${#fields.hasErrors('ano')} ? is-invalid" />
						
						<div class="invalid-feedback">
							<span th:errors="*{ano}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label for="preco">Preço</label> 
						<input type="text" class="form-control" id="preco" placeholder="Preço"
							data-mask="000000,00" data-mask-reverse="true" th:field="*{preco}"
							th:classappend="${#fields.hasErrors('preco')} ? is-invalid" />
						
						<div class="invalid-feedback">
							<span th:errors="*{preco}"></span>
						</div>
					</div>
				</div>
				<input type="hidden" id="id" th:field="*{id}" />
				<button type="submit" class="btn btn-primary btn-sm">Salvar</button>
			</form>
		</div>
	</section>
</body>
</html>
